.ItemListContainer{
    background-color: #f9f9f9;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    h2{
        font-size: 30vw;
        font-weight: 300;
        color: rgb(170, 170, 170);
    }
}
