.navbar{
    display: flex;
    justify-content: space-between;
    position: fixed;
    padding: 20px 64px; 
    z-index: 100;
    margin: 0 auto;
    left: 0;
    right: 0;  
    transition: all 0.2s ease;  
    border-bottom: 1px solid transparent;
    &:hover{
        &.active{
            background-color: rgba(249, 249, 249, 1);
            transition: all 0.2s ease;
        }          
    }

    &.active{
        background-color: rgba(249, 249, 249, 0.98);
        backdrop-filter: saturate(180%) blur(10px);
        border-bottom: 1px solid #e0e0e0;
    }

    .logo{
        color: rgb(14, 14, 14);
        font-size: 30px;
        line-height: 144%;
        font-weight: 900;
        text-decoration: none;        
    }
    .carrito-ico{
        width: 36px;
        height: 36px; 
    }
    .selector-categorias{
        display: flex;
        align-items: center; 
        padding: 0;
        a, p{                   
            margin: 6px 28px 0 28px;
            padding: 0 2px;        
            font-size: calc(14px + (32 - 14) * ((100vw - 1000px) / (3840 - 1000)));            
            font-weight: 500;
            color: #3e3e3e;
            text-decoration: none;
            border-bottom: 0.2vw solid transparent;
            cursor: pointer;
            &.currentCategory{
                border-bottom: 0.2vw solid #3e3e3e;
                transition: all 0.3s ease;
            }
        }
    }
}
